<!-- <!DOCTYPE html> -->
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ボード編集</title>
</head>

<body>
    <main class="main">
    	<form class="form" th:action="@{'/boards/' + ${id} + '/edit'}" method="post" th:object="${form}">
    		<h1 class="form__title">ボード編集</h1>
    		<p class="form__item">
    			<label for="title">タイトル</label>
          <!-- <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></span> -->
    			<input type="text" placeholder="タイトルを入力してください" name="title" id="title">
    		</p>
    		<p class="form__item">
    			<input type="submit" value="変更">
    		</p>
    	</form>
    </main>
</body>
</html>
