<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Profile</title>
</head>

<body>
    <main class="main">
      <div>
        <h3>Username : <span th:text="${username}"></span></h3>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
          <input type="submit" />
        </form>
        <a href="javascript: document.logoutForm.submit()">ログアウト</a>
      </div>
    </main>
</body>
</html>
